body{
background: rgb(2,0,36);
background: linear-gradient(163deg, rgba(2,0,36,1) 0%, rgba(4,3,63,1) 19%, rgba(9,9,121,1) 46%, rgba(0,212,255,1) 86%);
}
#classContainer{
    position: relative;
    
    margin: auto;
    background-color: bisque;
    height: 40vw;
    width: 40vw;
    background: url(Clock.png) no-repeat;
    background-size: 100%;
}

#hour , #minute , #second {

    position: absolute;
    background: black;
    border-radius: 10px;
    transform-origin: bottom;
}
#hour{
    width: 0.7%;
    height: 14%;
    top: 36%;
    right: 49.7%;
    opacity: 0.8;
    
}
#minute{
    width: 0.7%;
    height: 25%;
    top: 25%;
    right: 49.7%;
   opacity: 0.8;
   
}

#second{
    width: 0.4%;
    height: 26%;
    top: 24%;
    right: 49.8%;
    
  
}
